# IntelliJ
.idea/
*.iml
out/

# React
node_modules/
build/
dist/
/dev-dist
.env
campustrip-5b014-firebase-adminsdk-fbsvc-503ae48435.json

# Spring
target/
*.log
application-secret.properties

# OS
.DS_Store
Thumbs.db