.body {
    justify-content: center;
    align-items: center;
}

.main_box {
    width: 500px;
    height: 200px;
    margin: 100px auto;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
}

form {
    line-height: 1.5;
}